<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ReachDigital\InventoryOrderSourceReservationsPriorityApi\Model\GetOrderSelectionSelectionAlgorithmList">
        <arguments>
            <argument name="availableAlgorithms" xsi:type="array">
                <item name="byDateCreated" xsi:type="array">
                    <item xsi:type="string" name="code">byDateCreated</item>
                    <item xsi:type="string" name="title" translatable="true">By Date Created Priority</item>
                    <item xsi:type="string" name="description" translatable="true">Algorithm which provides orders by the date they are placed.</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
