<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ReachDigital\IOSReservationsApi\Api\Data\SourceReservationResultInterface" type="ReachDigital\IOSReservations\Model\SourceReservationResult\SourceReservationResult"/>
    <preference for="ReachDigital\IOSReservationsApi\Api\Data\SourceReservationResultItemInterface" type="ReachDigital\IOSReservations\Model\SourceReservationResult\SourceReservationResultItem"/>
    <preference for="ReachDigital\IOSReservationsApi\Api\MoveReservationsFromStockToSourceInterface" type="ReachDigital\IOSReservations\Model\MoveReservationsFromStockToSource"/>
    <preference for="ReachDigital\IOSReservationsApi\Api\MoveReservationsFromStockToSourceRunnerInterface" type="ReachDigital\IOSReservations\Model\MoveReservationsFromStockToSourceRunner"/>
    <preference for="ReachDigital\IOSReservationsApi\Api\GetOrderSourceReservationsInterface" type="ReachDigital\IOSReservations\Model\GetOrderSourceReservations"/>
    <type name="Magento\InventoryShipping\Observer\SourceDeductionProcessor">
        <plugin name="move_shipment_stock_nullification_to_source"
                type="ReachDigital\IOSReservations\Plugin\MagentoInventoryShipping\DeductSourceAndNullifyReservationOnShipment"/>
    </type>
    <type name="Magento\InventorySourceSelectionApi\Model\SourceSelectionService">
        <arguments>
            <argument name="sourceSelectionMethods" xsi:type="array">
                <item name="priority" xsi:type="string">ReachDigital\IOSReservations\Plugin\InventorySourceSelection\PriorityBasedAlgorithmWithSourceReservations</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\InventorySales\Model\ReturnProcessor\ProcessRefundItems">
        <plugin name="revert_source_reservations_on_credit_before_shipment"
                type="ReachDigital\IOSReservations\Plugin\MagentoInventorySales\RevertSourceReservationsOnCreditBeforeShipment"/>
    </type>
    <type name="Magento\InventorySales\Model\ReturnProcessor\DeductSourceItemQuantityOnRefund">
        <plugin name="prevent_source_item_quantity_deduction_on_refund"
                type="ReachDigital\IOSReservations\Plugin\MagentoInventorySales\PreventSourceItemQuantityDeductionOnRefund"/>
    </type>
    <preference for="Magento\SalesInventory\Model\Plugin\Order\ReturnToStockOrder" type="ReachDigital\IOSReservations\Plugin\MagentoSalesInventory\AlwaysAutoReturnToStockOrder"/>
    <preference for="Magento\SalesInventory\Model\Plugin\Order\ReturnToStockInvoice" type="ReachDigital\IOSReservations\Plugin\MagentoSalesInventory\AlwaysAutoReturnToStockInvoice"/>
    <type name="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="assigned_source_code" xsi:type="object">ReachDigital\IOSReservations\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor\OrderAssignedSourceFilter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="load_source_reservations_with_order_item" type="ReachDigital\IOSReservations\Plugin\MagentoSales\LoadSourceReservationsWithOrderItem"/>
    </type>
    <!-- Must also implement plugin for Order interface, due to some code not loading order items through service contract -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="load_source_reservations_with_order" type="ReachDigital\IOSReservations\Plugin\MagentoSales\LoadSourceReservationsWithOrder"/>
    </type>
</config>
